* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
}

html,
body {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

img {
  width: 100%;
  display: block;
}

.container {
  position: relative;
  width: 100%;
  max-width: 121.6rem;
  height: 61.2rem;
  margin: 0 auto;
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e4e4f3;
}

.content_mtk {
  z-index: 2;
  display: flex;
  width: 100%;
  max-width: 60rem;
  padding: 3.2rem;
  flex-direction: column;
  gap: 1.6rem;
  color: #0a0a16;
  background: #fbfbfe;
}

.content_mtk p {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 400;
}

.content_mtk span {
  font-size: 1rem;
  font-weight: 600;
}

.ass {
  max-width: 60rem;
}

.cover {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 30rem;
  object-fit: cover;
}
