* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
}

html,
body {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

img {
  width: 100%;
  display: block;
}

a,
button {
  cursor: pointer;
  background: transparent;
}

.container {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
}

.content_mail {
  width: 100%;
  max-width: 60rem;
  background: #eeeeee;
}
