* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  font-family: "Mulish", "sans-serif";
}

html,
body {
  font-size: 62.5%;
  color: hsl(0, 0%, 98%);
  background: hwb(0 8% 92%);
}

img {
  width: 100%;
  display: block;
}

a,
button {
  cursor: pointer;
  background: transparent;
}

.container {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
}

.title {
  font-size: 4rem;
  text-align: center;
}
