{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'api_static/css/styles.css' %}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <main class="container">
      <div class="content_mail">
        <p>
          Ao encerrarmos mais um ano repleto de desafios e conquistas, queremos
          expressar nossa sincera gratidão pela confiança depositada em nós.
          Cada parceria construída tornou este ano verdadeiramente
          extraordinário, e é com sinceridade que agradecemos por fazerem parte
          dessa jornada conosco. Que o novo ano seja um capítulo de
          prosperidade, sucesso e conquistas compartilhadas. Estamos ansiosos
          para enfrentar 2024 juntos, criando oportunidades e celebrando
          momentos que fortalecem nossa conexão.
        </p>
      </div>
    </main>
    <footer>
      <p>Com estima genuína,<br /><br />Equipe Vicit Studio</p>
      <img
        src="{% static 'api_static/imgs/ass-mail.png' %}"
        alt="Assinatura Vicit Studio"
        loading="lazy"
      />
    </footer>
  </body>
</html>
